# Node.js
node_modules
db.js

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local
.env.test
.env.prod

# Dependency directories
pids
logs
results

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
